*.class
*.html
*.jar
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/checkouts/
/classes/
/lib/
/target/
pom.xml
pom.xml.asc
tf/.terraform
tf/terraform.tfstate
tf/terraform.tfstate.backup
